# Braces on new lines
SortIncludes: Never
BreakBeforeBraces: Allman

# Indentation
IndentWidth: 4
TabWidth: 4

# Line length
ColumnLimit: 120

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false

# alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

# Readability
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false

